.appLayout .ant-menu-item-selected {
    background-color: #430f58 !important;
    color: white !important;
    font-weight: bold;
}

.menuButton {
    background-color: white !important;
    border: none !important;
    color: black !important;
}